<template>
<div>
    <v-alert style="top:8px" v-model="alert" dismissible close-icon="mdi-delete" border="left" elevation="2" outlined type="success" text>
        Welcome back BlogeR ! Now you can see upgrade photo ~
    </v-alert>

</div>
</template>

<script>
export default {
    name: 'HelloWorld',
    data() {
        return {
            alert: true,
        }
    },
}
</script>
